.qodo
./datasets/*
datasets/*
datasets/
datasets
.idea/
checkpoints/
checkpoints/*
checkpoints
__pycache__/
# Create .gitignore file
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
src/utils/__pycache__
log.txt
data/
data/cifar-10-batches-py data/cifar-10-python.tar.gz
./data/cifar-10-batches-py ./data/cifar-10-python.tar.gz
./data
src/dataloaders/__pycache__/
src/dataloaders/__pycache__/*
src/utils/__pycache__/classic_models.cpython-312.pyc src/utils/__pycache__/eval.cpython-312.pyc src/utils/__pycache__/__init__.cpython-312.pyc src/utils/__pycache__/losses.cpython-312.pyc src/utils/__pycache__/lr_scheduler.cpython-312.pyc src/utils/__pycache__/models.cpython-312.pyc src/utils/__pycache__/utils.cpython-312.pyc
wandb
