.qodo
./datasets/*
datasets/*
datasets/
datasets
.idea/
checkpoints/
checkpoints/*
checkpoints
__pycache__/
# Create .gitignore file
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
src/utils/__pycache__
log.txt
data/
data/cifar-10-batches-py data/cifar-10-python.tar.gz
./data/cifar-10-batches-py ./data/cifar-10-python.tar.gz
./data
